* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #f2f2f2;
    overflow-x: hidden;
}

.container header, section {
    background: #fff;
    height: auto;
}

.service-header {
    min-height: 70px;
    background: #000;
}

.service {
    text-align: center;
}

.service p {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0;
}

.service {
    margin: 12px 0;
}

.service-main {
    margin: 0 auto;
    width: 250px;
}

.service-img, .service-content {
    float: left;
}

.service-img {
    margin-right: 15px;
}

.service-content {
    text-align: center;
}

.service-content span {
    color: #999999;
}

.service-middle {
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
}

.service-img img {
    margin-top: 8px;
}

.header-top ul li {
    float: left;
    list-style: none;
    padding: 8px 13px;
}

.header-top {
    margin: 0 30px;
}

.cart {
    background: #000;
    position: relative;
}

.cart span {
    color: #fff;
    background: #29beff;
    padding: 2px 10px;
    border-radius: 100%;
    position: absolute;
    top: -15px;
}

.header-center .align-self-center {
    text-align: center;
}

.header-center .align-self-center h2 {
    margin-bottom: 0;
    font-weight: bold;
    text-transform: uppercase;
}

.header-center .input-group {
    width: 218px;
    margin: 15px 30px 15px 0;
}

.header-center .custom-input {
    max-height: 30px;
    border-right: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.header-center .input-group-text {
    background: #f4a137;
    border-color: #f4a137;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}


.header-nav .nav-link {
    color: #222222 !important;
    font-weight: bold;
    text-transform: uppercase;
}

.header-nav .nav-item .position-absolute {
    top: -10px;
    right: 30px;
    color: #fff;
    padding: 0 6px;
    font-size: 12px;
    border-radius: 3px;
    background: #f4a137;
}

#carouselExampleControls {
    margin-left: 30px;
}

#carouselExampleControls .carousel-item img {
    height: 450px;
}

.slide-main {
    height: 210px;
    margin-right: 30px;
}

.slide-content {
    width: 170px;
    padding-top: 25px;
    text-align: center;
}

.slide-content p {
    margin: 0;
}

.owl-carousel .owl-item img {
    display: unset;
    width: auto !important;
}

.price .main {
    margin: 0 2px;
    color: #e74c3c;
    font-weight: bold;
}

.price .discount {
    color: #999999;
    margin: 0 2px;
    font-size: 14px;
    text-decoration: line-through;
}

.product-action {
    margin: 10px 0;
}

.product-action a {
    text-decoration: none;
}

.product-action img {
    padding: 5px;
    border: 1px solid #dddddd;
    margin: 2px;
}

.product-header img {
    height: 250px;
}

.owl-carousel h6 {
    margin-bottom: 0;
}

.footer {
    margin-top: 60px;
    margin-bottom: 20px;
}

.footer .col-md-4 {
    padding: 0 50px;
    text-align: center;
}

.footer h3 {
    text-transform: uppercase;
    margin-bottom: 25px;
    font-size: 16pt;
}

.footer-link {
    margin-bottom: 20px;
}

.footer-link p {
    color: #666666;
    margin-bottom: 0;
}

.footer-link a {
    color: #222222;
    text-decoration: none;
}

.footer .input-group-text {
    color: #fff;
    border: none;
    background: #f4a137;
    text-transform: uppercase;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.footer input {
    border-right: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

footer {
    padding-top: 100px;
    background: #fff;
}

.footer-top {
    padding: 0 30px;
}

.footer-top h5 {
    margin-bottom: 20px;
    text-transform: uppercase;
}

.footer-top ul {
    padding-left: 0;
}

.footer-top ul li {
    font-size: 13pt;
    list-style: none;
    margin-bottom: 10px;
}
